<div class="habits-grid mt-3">
    <div class="habit-cell" *ngFor="let item of items">
      <button
        [ngClass]="true
          ? 'px-4 py-2 bg-gradient-to-r from-gray-100 to-gray-200 text-gray-500 hover:to-gray-300 hover:text-gray-700'
          : (item.positive
          ? 'px-4 py-2 bg-gradient-to-r from-emerald-100 to-lime-200 text-lime-500 hover:to-lime-300 hover:text-lime-700'
          : 'px-4 py-2 bg-gradient-to-r from-orange-100 to-red-200 text-red-500 hover:to-red-300 hover:text-red-900')"
        class="rounded-xl flex items-center gap-2"
        style="width: 100px; height: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center;"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z"
          />
        </svg>
  
        <span
          class="habit-name block overflow-hidden text-ellipsis whitespace-nowrap"
          style="max-width: 100%;"
          [ngStyle]="{
            'font-size': item.name.length > 20 ? '14px' : '16px'
          }"
        >
          {{ item.name }}
        </span>

      </button>
    </div>
  </div>
  