<div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
      <div class="w-10 rounded-full bg-white text-gray-600 flex items-center justify-center">
        <!-- Heroicon User -->
        <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" fill="none"
          viewBox="0 0 24 24" stroke="currentColor" class="text-gray-500">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5.121 17.804A11.955 11.955 0 0112 15c2.28 0 4.387.655 6.121 1.804M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
      </div>
    </div>
    <ul tabindex="0"
      class="menu dropdown-content mt-3 z-[1] p-2 shadow bg-white border border-gray-200 rounded-box w-52 text-sm">
      <li>
        <button class="text-gray-600 hover:text-gray-800" (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </div>
  