<div class="habits-grid mt-3">
    <div class="habit-cell" *ngFor="let item of items">
        <button *ngIf="item.positive" (click)="onAddHabit(item.id)"
            class="px-4 py-2 bg-gradient-to-r from-emerald-100 to-lime-200 text-lime-500 hover:bg-gradient-to-r hover:to-lime-300 hover:text-lime-700 rounded-xl flex items-center gap-2"
            style="width: 100px; height: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <svg-icon *ngIf="item.icon" [src]="'/icons/'+ item.icon"
                [svgStyle]="{ width: '56px', height: '56px' }"></svg-icon>
            <span class="habit-name"
                style="display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 100%; font-size: calc(16px - ({{ item.name.length > 20 ? 2 : 0 }}px));">
                {{ item.name }}
            </span>
        </button>
        <button *ngIf="!item.positive" (click)="onAddHabit(item.id)"
            class="px-4 py-2 bg-gradient-to-r from-orange-100 to-red-200 text-red-500 hover:to-red-300 hover:text-red-900 rounded-xl flex items-center gap-2"
            style="width: 100px; height: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <svg-icon *ngIf="item.icon" [src]="'/icons/'+ item.icon"
                [svgStyle]="{ width: '56px', height: '56px' }"></svg-icon>
            <span class="habit-name"
                style="display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 100%; font-size: calc(16px - ({{ item.name.length > 20 ? 2 : 0 }}px));">
                {{ item.name }}
            </span>
        </button>
    </div>
    <div class="habit-cell">
        <button
            class="px-4 py-2 bg-gradient-to-r bg-gray-200 text-gray-400 rounded-xl hover:to-gray-300 hover:text-gray-500"
            style="width: 100px; height: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center;"
            (click)="onAddHabit()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v18m9-9H3" />
            </svg>
        </button>
    </div>
</div>