<div class="dropdown dropdown-top dropdown-end settings-wrapper settings-btn"
    [ngClass]="item.colour.toLowerCase() + '-text'">
    <div tabindex="0" role="button" class="">
        <ng-content></ng-content>
    </div>
    <ul tabindex="0" class="text-gray-400 dropdown-content menu bg-base-100 rounded-box z-1 p-1 shadow-sm">
        <li>
            <div (click)="edit(item.id)">Edit</div>
        </li>
        <li>
            <div (click)="remove(item.id, item.name)">Remove</div>
        </li>
    </ul>
</div>