<div class="min-h-screen flex flex-col bg-repeat-leaves">
  <ng-container *ngIf="authService.username; else landingPage">
    <div class="flex-grow flex flex-col items-center justify-start">
      <app-track-habits-data></app-track-habits-data>
    </div>
  </ng-container>
  <ng-template #landingPage>
    <app-landing-page></app-landing-page>
  </ng-template>

    <!-- Footer -->
  <footer class="text-gray-800 py-2">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
      <div class="mb-4 md:mb-0">
        <h4 class="text-lg font-semibold text-lime-400">Good Bites</h4>
        <p>&copy; 2025 All rights reserved.</p>
      </div>
      <div class="space-y-2 text-sm text-center md:text-right">
        <p>Contact: 
          <a href="mailto:support@goodbites.app" class="text-lime-400 hover:underline">supportgoodbites.app</a>
        </p>
        <p><a href="#" class="hover:underline">Privacy Policy</a> | <a href="#" class="hover:underline">Terms of Service</a></p>
      </div>
    </div>
  </footer>
</div>