:root {
  --color-green: #5fd074;
  --color-lime: #26dd4a;
  --color-red: #fd6b44;
  --color-maroon: #d24c27;
  --color-blue: rgb(68, 91, 218);
  --color-navy: rgb(39, 53, 211);
  --color-cyan: rgb(80, 182, 182);
  --color-teal: rgb(35, 146, 161);
  --color-pink: pink;
  --color-purple: rgb(196, 124, 172);
  --color-orange: rgb(255, 201, 100);
  --color-brown: rgb(188, 139, 76);
  --color-yellow: rgb(223, 223, 130);
  --color-olive: rgb(154, 169, 70);
  --color-grey: rgb(178, 178, 178);
  --color-black: rgb(69, 68, 68);
}

.green-btn {
  background-color: var(--color-neutral-transparent);
  color: var(--color-green);
  transition:
    background-color 0.6s ease,
    color 0.6s ease;
}
.green-btn.clicked {
  background-color: var(--color-green);
  color: var(--color-neutral);
}
.green-text {
  color: var(--color-green);
}

.lime-btn {
  background-color: var(--color-neutral-transparent);
  color: var(--color-lime);
  transition:
    background-color 0.6s ease,
    color 0.6s ease;
}
.lime-btn.clicked {
  background-color: var(--color-lime);
  color: var(--color-neutral);
}
.lime-text {
  color: var(--color-lime);
}

.red-btn {
  background-color: var(--color-neutral-transparent);
  color: var(--color-red);
  transition:
    background-color 0.6s ease,
    color 0.6s ease;
}
.red-btn.clicked {
  background-color: var(--color-red);
  color: var(--color-neutral);
}
.red-text {
  color: var(--color-red);
}

.maroon-btn {
  background-color: var(--color-neutral-transparent);
  color: var(--color-maroon);
  transition:
    background-color 0.6s ease,
    color 0.6s ease;
}
.maroon-btn.clicked {
  background-color: var(--color-maroon);
  color: var(--color-neutral);
}
.maroon-text {
  color: var(--color-maroon);
}

.blue-btn {
  background-color: var(--color-neutral-transparent);
  color: var(--color-blue);
  transition:
    background-color 0.6s ease,
    color 0.6s ease;
}
.blue-btn.clicked {
  background-color: var(--color-blue);
  color: var(--color-neutral);
}
.blue-text {
  color: var(--color-blue);
}

.navy-btn {
  background-color: var(--color-neutral-transparent);
  color: var(--color-navy);
  transition:
    background-color 0.6s ease,
    color 0.6s ease;
}
.navy-btn.clicked {
  background-color: var(--color-navy);
  color: var(--color-neutral);
}
.navy-text {
  color: var(--color-navy);
}

.cyan-btn {
  background-color: var(--color-neutral-transparent);
  color: var(--color-cyan);
  transition:
    background-color 0.6s ease,
    color 0.6s ease;
}
.cyan-btn.clicked {
  background-color: var(--color-cyan);
  color: var(--color-neutral);
}
.cyan-text {
  color: var(--color-cyan);
}

.teal-btn {
  background-color: var(--color-neutral-transparent);
  color: var(--color-teal);
  transition:
    background-color 0.6s ease,
    color 0.6s ease;
}
.teal-btn.clicked {
  background-color: var(--color-teal);
  color: var(--color-neutral);
}
.teal-text {
  color: var(--color-teal);
}

.pink-btn {
  background-color: var(--color-neutral-transparent);
  color: var(--color-pink);
  transition:
    background-color 0.6s ease,
    color 0.6s ease;
}
.pink-btn.clicked {
  background-color: var(--color-pink);
  color: var(--color-neutral);
}
.pink-text {
  color: var(--color-pink);
}

.purple-btn {
  background-color: var(--color-neutral-transparent);
  color: var(--color-purple);
  transition:
    background-color 0.6s ease,
    color 0.6s ease;
}
.purple-btn.clicked {
  background-color: var(--color-purple);
  color: var(--color-neutral);
}
.purple-text {
  color: var(--color-purple);
}

.orange-btn {
  background-color: var(--color-neutral-transparent);
  color: var(--color-orange);
  transition:
    background-color 0.6s ease,
    color 0.6s ease;
}
.orange-btn.clicked {
  background-color: var(--color-orange);
  color: var(--color-neutral);
}
.orange-text {
  color: var(--color-orange);
}

.brown-btn {
  background-color: var(--color-neutral-transparent);
  color: var(--color-brown);
  transition:
    background-color 0.6s ease,
    color 0.6s ease;
}
.brown-btn.clicked {
  background-color: var(--color-brown);
  color: var(--color-neutral);
}
.brown-text {
  color: var(--color-brown);
}

.yellow-btn {
  background-color: var(--color-neutral-transparent);
  color: var(--color-yellow);
  transition:
    background-color 0.6s ease,
    color 0.6s ease;
}
.yellow-btn.clicked {
  background-color: var(--color-yellow);
  color: var(--color-neutral);
}
.yellow-text {
  color: var(--color-yellow);
}

.olive-btn {
  background-color: var(--color-neutral-transparent);
  color: var(--color-olive);
  transition:
    background-color 0.6s ease,
    color 0.6s ease;
}
.olive-btn.clicked {
  background-color: var(--color-olive);
  color: var(--color-neutral);
}
.olive-text {
  color: var(--color-olive);
}

.grey-btn {
  background-color: var(--color-neutral-transparent);
  color: var(--color-grey);
  transition:
    background-color 0.6s ease,
    color 0.6s ease;
}
.grey-btn.clicked {
  background-color: var(--color-grey);
  color: var(--color-neutral);
}
.grey-text {
  color: var(--color-grey);
}

.black-btn {
  background-color: var(--color-neutral-transparent);
  color: var(--color-black);
  transition:
    background-color 0.6s ease,
    color 0.6s ease;
}
.black-btn.clicked {
  background-color: var(--color-black);
  color: var(--color-neutral);
}
.black-text {
  color: var(--color-black);
}
