goodbitesapp.com {
  reverse_proxy web:80
  root * /usr/share/caddy
  file_server
  try_files {path} /index.html

  @configFile path /assets/config.json
  header @configFile {
    Content-Type application/json
  }

  # Proxy API requests to ASP.NET Core (Bootstrapper)
  @api path /api/*
  reverse_proxy @api bootstrapper:80
}
