<div cdkDropList cdkDropListOrientation="mixed" class="example-list" (cdkDropListDropped)="drop($event)">
  @for (item of items; track item) {
  <div cdkDrag [ngClass]="item.positive ? 'text-positive' : 'text-negative'" class="habit-item">
    <div class="box-top" (click)="clickHabit(item.id)" [ngClass]="[
    item.dailyDatas.length !== 0 ? 'clicked' : '',
    item.colour.toLowerCase() + '-btn'
  ]">
      <ng-container *ngIf="item.icon.endsWith('.svg')">
        <svg-icon *ngIf="item.icon" [svgStyle]="{ width: '48px', height: '48px' }"
          [src]="'/icons/' + item.icon"></svg-icon>
      </ng-container>

      <ng-container *ngIf="item.icon.endsWith('.png')">
        <img [src]="'/icons/' + item.icon" width="48" height="48" alt="icon">
      </ng-container>

      <div class="streak-row">
        <ng-container *ngIf="item.positive; else notPositive">
          <span>{{ item.streak }} {{ item.streak === 1 ? 'day' : 'days' }}</span>
        </ng-container>
        <ng-template #notPositive>
          <ng-container *ngIf="item.lastCheckedDate">
            {{ calculateDaysSince(item.lastCheckedDate) }}
          </ng-container>
          <ng-container *ngIf="item.lastCheckedDate === null">
            not once
          </ng-container>
        </ng-template>
      </div>
    </div>
    <div class="dropdown dropdown-top dropdown-end settings-wrapper settings-btn"
      [ngClass]="item.colour.toLowerCase() + '-text'">
      <div tabindex="0" role="button" class="">
        <div class="item-name">{{ item.name }}</div>
      </div>
      <ul tabindex="0" class="text-gray-400 dropdown-content menu bg-base-100 rounded-box z-1 p-1 shadow-sm">
        <li>
          <div (click)="edit(item.id)">Edit</div>
        </li>
        <li>
          <div (click)="remove(item.id, item.name)">Remove</div>
        </li>
      </ul>
    </div>
  </div>
  }
  <div class="habit-item">
    <button (click)="onAddHabit()" class="box-top bg-neutral text-gray-400">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="64" height="64">
        <path fill="currentColor"
          d="M12 4c4.411 0 8 3.589 8 8s-3.589 8-8 8s-8-3.589-8-8s3.589-8 8-8m0-2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2m5 9h-4V7h-2v4H7v2h4v4h2v-4h4z" />
      </svg>
    </button>
    <div class="item-name text-gray-400 settings-btn" (click)="onAddHabit()">Add</div>
  </div>
</div>