@import '../../../../../styles/color-trans-classes.css';

.example-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding: 5px;
  width: 100%;
}

@media (min-width: 900px) {
  .example-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.habit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90px;
  height: 90px;
  padding: 2px 0 4px;
  border-radius: 9999px;
}

.box-top:hover {
  transform: scale(1.1);
}

.box-top:active {
  transform: translateY(4px);
}

.streak-row {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.item-name {
  width: 90px;
  margin: 2px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.cdk-drag-preview {
  border-radius: 4px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.bg-neutral {
  background-color: var(--color-neutral-transparent);
}

.text-neutral {
  color: rgb(69, 68, 68);
}
