<div class="habits-grid mt-3">
    <div class="habit-cell" *ngFor="let item of items">
        <button
            [ngClass]="item.dailyDatas.length === 0
            ? 'bg-gradient-to-r from-gray-100 to-gray-200 text-gray-500 hover:to-gray-300 hover:text-gray-700'
            : (item.positive
            ? 'bg-gradient-to-r from-emerald-100 to-lime-200 text-lime-500 hover:to-lime-300 hover:text-lime-700'
            : 'bg-gradient-to-r from-orange-100 to-red-200 text-red-500 hover:to-red-300 hover:text-red-900')"
            class="px-4 py-2 rounded-xl flex items-center gap-2"
            style="width: 100px; height: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center;"
            (click)="clickHabit(item.id)">
            <svg-icon src="/icons/food.svg"></svg-icon>
            <span class="habit-name block overflow-hidden text-ellipsis whitespace-nowrap" style="max-width: 100%;"
                [ngStyle]="{
              'font-size': item.name.length > 20 ? '14px' : '16px'
            }">
                {{ item.name }}
            </span>
        </button>
    </div>
</div>