<div class="calendar-wrapper" [ngClass]="item.colour.toLowerCase() + '-text'" *ngFor="let item of items">
    <div class="month-rows">
        <div *ngFor="let month of calendarGrid; let i = index" class="month-row">
            <div class="month-label">{{ romanMonths[i] }}</div>
            <button *ngFor="let day of month" class="day-cell" [ngClass]="[
            item.colour.toLowerCase() + '-btn',
            isDateInDailyData(item, day) ? 'clicked' : '',
            isToday(day) ? 'today' : '']" (click)="clickHabit(item.id, day)">
                {{ day.getDate() }}
            </button>
        </div>
    </div>

    <div class="calendar-footer">
        <ng-container *ngIf="item.icon.endsWith('.svg')">
            <svg-icon *ngIf="item.icon" [svgStyle]="{ width: '32px', height: '32px' }"
                [src]="'/icons/' + item.icon"></svg-icon>
        </ng-container>

        <ng-container *ngIf="item.icon.endsWith('.png')">
            <img [src]="'/icons/' + item.icon" width="32" height="32" alt="icon">
        </ng-container>
        <app-habit-actions-dropdown [item]="item" (onHabitsChange)="onHabitsChange.emit()">
            <div class="calendar-footer-text item-name">{{ item.name }}</div>
            <span class="calendar-footer-text">
                {{ item.dailyDatas.length }} {{ item.dailyDatas.length === 1 ? 'day' : 'days' }}
            </span>
        </app-habit-actions-dropdown>
    </div>
</div>