.today {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.calendar-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 7px;
  border-radius: 10px;
  padding: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  background-color: var(--color-neutral-transparent);
  margin-bottom: 3px;
}

.month-rows {
  display: flex;
  flex-direction: column;
}

.month-row {
  display: flex;
  align-items: center;
}

.month-label {
  width: 20px;
  text-align: right;
  margin-right: 6px;
  font-weight: bold;
  font-size: 9px;
}

.day-cell {
  display: flex;
  flex-wrap: wrap;
  width: 13px;
  height: 13px;
  border-radius: 99px;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.day-cell:hover {
  transform: scale(1.25);
}

.day-cell:active {
  transform: translateY(3px);
}

.calendar-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 8px;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
}

.calendar-footer svg-icon {
  display: inline-block;
}

.item-name {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
