/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
    themes: nord --default, abyss --dracula;
  }

html, body { height: 100%; }
body {
  background-color: white;
}

:root {
  /* Primary color */
  --color-primary: #709F41;
  /* Secondary color */
  --color-secondary: #6A994E;
  /* Primary dark color */
  --color-primary-dark: #386641;
  /* Negative color */
  --color-negative: #FF413D;
  /* Negative color */
  --color-negative-secondary: #F97316;
  /* Neutral color */
  --color-neutral: #FCF0D7;
  /* Background color */
  --color-background: #F8FBF5;
}
