/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import './styles/color-trans-classes.css';

@plugin "daisyui" {
  themes:
    nord --default,
    abyss --dracula;
}

html,
body {
  height: 100%;
}

:root {
  --color-neutral: #fcfbf9;
  --color-neutral-transparent: #fcfbf986;
}
