<div class="icon-grid max-h-48 overflow-y-auto rounded  shadow-sm">
  <div *ngFor="let item of currentItems" (click)="selectItem(item)"
    class="icon-item flex flex-col items-center justify-center cursor-pointer rounded hover:bg-gray-100"
    [class.selected]="isSelected(item)">
    <!-- Folder or ... -->
    <ng-container *ngIf="item.type === 'folder'">
      <span *ngIf="item.name === '...'" class="text-xs">{{ item.name }}</span>
      <img *ngIf="item.name !== '...'" [src]="'/icons/folder_icons/' + item.name + '.png'" width="40" height="40"
        alt="icon">
    </ng-container>

    <!-- SVG Icon -->
    <ng-container *ngIf="item.type === 'icon' && item.path.endsWith('.svg')">
      <svg-icon [src]="'/icons/' + item.path" [svgStyle]="{ width: '24px', height: '24px' }">
      </svg-icon>
    </ng-container>

    <!-- PNG Icon -->
    <ng-container *ngIf="item.type === 'icon' && item.path.endsWith('.png')">
      <img [src]="'/icons/' + item.path" width="24" height="24" alt="icon">
    </ng-container>

  </div>
</div>