.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(44px, 1fr));
  gap: 0.15rem;
  background-color: var(--color-neutral);
}

.icon-item {
  background-color: var(--color-gray-100);
}

.icon-item.selected {
  border: 2px solid var(--color-green);
  background-color: #ecfdf5;
}
