<div class="calendar-grid-wrapper">
    <ng-container *ngFor="let item of items">
        <div class="calendar-container" [ngClass]="{
                'positive': item.positive,
                'negative': !item.positive,
                }">
            <div class="calendar-grid">
                <div class="calendar-cell header-cell" *ngFor="let day of weekDays">
                    {{ day }}
                </div>
            </div>

            <div class="calendar-grid">
                <div class="calendar-cell empty" *ngFor="let _ of blankDays"></div>
                <button class="calendar-cell day-cell" [ngClass]="{
                    'day-cell-positive': item.positive,
                    'day-cell-negative': !item.positive,
                    'clicked': isDateInDailyData(item, day)}" 
                    *ngFor="let day of daysInMonth" (click)="clickHabit(item.id, day)">
                    <div class="date-number">{{ day.getDate() }}</div>
                </button>
            </div>

            <div class="calendar-footer" [ngClass]="{
                'positive': item.positive,
                'negative': !item.positive,
                }">
                <svg-icon *ngIf="item.icon" [svgStyle]="{ width: '32px', height: '32px' }"
                    [src]="'/icons/' + item.icon"></svg-icon>
                    <span class="calendar-footer-text">
                        {{ item.dailyDatas.length }} {{ item.dailyDatas.length === 1 ? 'day' : 'days' }}
                    </span>
            </div>
        </div>
    </ng-container>
</div>