<div class="calendar-grid-wrapper">
    <ng-container *ngFor="let item of items">
        <div class="calendar-container" [ngClass]="item.colour.toLowerCase() + '-text'">
            <div class="calendar-grid">
                <div class="calendar-cell header-cell" *ngFor="let day of weekDays">
                    {{ day }}
                </div>
            </div>

            <div class="calendar-grid">
                <div class="calendar-cell empty" *ngFor="let _ of blankDays"></div>
                <button class="calendar-cell day-cell" [ngClass]="[
                item.colour.toLowerCase() + '-btn',
                isDateInDailyData(item, day) ? 'clicked' : '',
                isToday(day) ? 'today' : '']" *ngFor="let day of daysInMonth" (click)="clickHabit(item.id, day)">
                    <div class="date-number">{{ day.getDate() }}</div>
                </button>
            </div>

            <div class="calendar-footer">
                <ng-container *ngIf="item.icon.endsWith('.svg')">
                    <svg-icon *ngIf="item.icon" [svgStyle]="{ width: '32px', height: '32px' }"
                        [src]="'/icons/' + item.icon"></svg-icon>
                </ng-container>

                <ng-container *ngIf="item.icon.endsWith('.png')">
                    <img [src]="'/icons/' + item.icon" width="32" height="32" alt="icon">
                </ng-container>
                <span class="calendar-footer-text">
                    {{ item.dailyDatas.length }} {{ item.dailyDatas.length === 1 ? 'day' : 'days' }}
                </span>
            </div>
        </div>
    </ng-container>
</div>